/* classCode */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content .code_img {
  width: 800px;
  height: auto;
  margin-bottom: 80px;
}

#content .code_img img {
  width: 100%;
  border-radius: 30px;
}

#content .code_title {
  background: green;
  border: 10px solid yellow;
  width: 800px;
  height: 100px;
  margin: 50px;
  font-size: 64px;
  text-align: center;
  display: inline-block;
}

#content .code_input {
  display: flex;
  gap: 20px;
}

#content .key_img {
  width: 50px;
  height: auto;
}

#content .key_img img {
  width: 100%;
}

#content input {
  border-radius: 10px;
  font-size: 24px;
  font-family: 'GmarketSansMedium';
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}

#content .code_btn {
  width: 200px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 80px;
}

.animation {
  display: flex;
  justify-content: center;
}

.code_title.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  animation-fill-mode: none;
}

@keyframes bounce {
  0% {
    transform: translate(0px, -20px);
  }

  25% {
    transform: translate(-20px, 0px);
  }

  50% {
    transform: translate(0px, 20px);
  }

  75% {
    transform: translate(20px, 0px);
  }

  100% {
    transform: translate(0px, -20px);
  }
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #content .code_img {
    width: 300px;
    height: auto;
    margin-bottom: 80px;
  }

  #content .code_title {
    background: green;
    border: 10px solid yellow;
    width: 300px;
    height: 50px;
    margin: 50px;
    font-size: 32px;
    text-align: center;
    display: inline-block;
  }
}

/* for tablet */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #content .code_img {
    width: 500px;
    height: auto;
    margin-bottom: 80px;
  }

  #content .code_title {
    background: green;
    border: 10px solid yellow;
    width: 500px;
    height: 80px;
    margin: 50px;
    font-size: 42px;
    text-align: center;
    display: inline-block;
  }
}
