html {
  background-color: rgba(141, 48, 48, 0.844);
}

hr {
  border: 3px solid black;
}

button {
  height: 30px;
  width: 50px;
}

.longButton {
  width: 100px;
}

.h1Color {
  color: black;
}

.bgColor {
  background-color: white;
}

.mobile {
  display: none;
}

table img {
  width: 200px;
  height: 200px;
}

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  table img {
    width: 100px;
    height: 100px;
  }

  .mobile {
    display: contents;
  }
}

/* for tablet */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  table img {
    width: 150px;
    height: 150px;
  }
}
