<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>AP's website</title>
  </head>
  <body>
    <header class="header-title">aptheparker</header>
    <nav>
      <ul class="nav-list">
        <li><a href="about.html">About me</a></li>
        <li><a href="activity.html">Activity</a></li>
        <li><a href="skill.html">Skill</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <main class="about-content-container">
      <div class="about-info-box">
        <img src="../assets/img/pjh.png" alt="" />
        <div class="title">Name: Park Jihwan</div>
        <div class="title">Birth: 2001. 11. 19</div>
        <div class="subtitle">Nickname: ap</div>
        <a href="https://aptheparker.notion.site/0f7be966afbb46baabdd7469ee7f4bd2?pvs=4">Blog</a>
      </div>
      <div class="about-info-box">
        <div class="title">Education</div>
        <ul class="subtitle">
          <li>High School: SHSID (Shanghai, China)</li>
          <li>University: SKKU (Suwon, Korea)</li>
          <ul>
            <li>Major 1: System Management Engineering</li>
            <li>Major 2: Software</li>
          </ul>
        </ul>
      </div>
      <div class="about-info-box">
        <div class="title">Job</div>
        <ul class="subtitle">
          <li>Goorm Supporters: ImagePacktory Team</li>
          <ul>
            <li>Member</li>
            <li>(2022/08 ~ 2022/12)</li>
          </ul>
        </ul>
      </div>
      <div class="about-info-box">
        <div class="title">Hobby</div>
        <ul class="subtitle">
          <li>Workout</li>
          <li>Guitar</li>
          <li>Programming</li>
          <li>Reading</li>
        </ul>
      </div>
    </main>
  </body>
</html>
