<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Name</h1>
    <p>Park Jihwan</p>
    <hr>
    <h1>Birth</h1>
    <p>2001. 11. 19</p>
    <hr>
    <h1>Education</h1>
    <ul>
      <li>High School: SHSID (Shanghai High School International Division)</li>
      <li>University: SKKU (Sungkyunkwan University)</li>
      <ul>
        <li>Major 1: System Management Engineering</li>
        <li>Major 2: Software</li>
      </ul>
    </ul>
    <hr>
    <h1>Skill</h1>
    <h2>Language</h2>
    <ul>
      <li>Korean</li>
      <li>English</li>
      <li>Chinese</li>
    </ul>
    <h2>Programming</h2>
    <ul>
      <li>HTML/CSS/JS</li>
      <li>Python</li>
      <li>C</li>
      <li>JAVA</li>
      <li>Solidity</li>
      <li>SQL</li>
      <li>Kotlin</li>
      <li>React.js</li>
      <li>Node.js</li>
      <li>Flutter</li>
    </ul>
    <hr>
  </body>
</html>
