<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>AP's website</title>
  </head>
  <body>
    <header class="header-title">aptheparker</header>
    <nav>
      <ul class="nav-list">
        <li><a href="about.html">About me</a></li>
        <li><a href="activity.html">Activity</a></li>
        <li><a href="skill.html">Skill</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <main class="activity-content-container">
      <div class="activity-info-box">
        <div class="title">Club</div>
        <ul class="subtitle">
          <li>CoMit: Programming Club</li>
          <ul>
            <li>Leader</li>
            <li>(2022/03 ~ )</li>
          </ul>
          <li>SKKRYPTO: Blockchain Academy</li>
          <ul>
            <li>Leader</li>
            <li>(2022/09 ~ 2023/07)</li>
          </ul>
          <li>SME: Student Union of SKKU System Management Engineering</li>
          <ul>
            <li>Member</li>
            <li>(2021/09~2022/06)</li>
          </ul>
        </ul>
      </div>
      <div class="activity-info-box">
        <div class="title">Competition</div>
        <ul class="subtitle">
          <li>KAMP: AI Manufacturing Data Analysis</li>
          <ul>
            <li>Award</li>
            <li>(2022/10~2022/12)</li>
          </ul>
          <li>MEC: Model Entrepreneur Competition (Columbia Business School)</li>
          <ul>
            <li>Finalist</li>
            <li>(2020/02~2020/03)</li>
          </ul>
        </ul>
      </div>
      <div class="activity-info-box">
        <div class="title">Dev Project</div>
        <ul class="subtitle">
          <li>myweb</li>
          <ul>
            <li>Personal website</li>
            <li>HTML/CSS/JS</li>
            <li>(2022/07 ~ )</li>
          </ul>
          <li>comit</li>
          <li>hair-heist</li>
          <li>comity</li>
          <li>1px</li>
          <li>diary</li>
        </ul>
      </div>
    </main>
  </body>
</html>
