<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homework</title>
  <link rel="shortcut icon" href="../img/favicon.ico" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/class.css">
</head>

<body>

  <a href="../index.html"><button>Back</button></a>
  <hr>

  <div>
    <h1 id='myH1'>Homework</h1>
    <div class="book_group">
      <div class="book_img">
        <img src="../img/class_img/book.png" alt="">
      </div>
      <div class="books_img">
        <img src="../img/class_img/books.png" alt="">
      </div>
    </div>
    <br><br>
    <hr>
    <br><br>

    <div class="calen_group">
      <table class="calen">
        <caption class="brown-text">Feburary (2월)</caption>
        <tr>
          <th class="red-text">Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th class="red-text">Sat</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>6</td>
          <td class="missed">7</td>
          <td>8</td>
          <td class="checked">9 </td>
          <td>10</td>
          <td class="checked">11</td>
          <td class="checked">12</td>
        </tr>
        <tr>
          <td class="checked">13</td>
          <td class="checked">14</td>
          <td>15</td>
          <td class="missed">16</td>
          <td>17</td>
          <td>18</td>
          <td class="checked">19</td>
        </tr>
        <tr>
          <td class="checked">20</td>
          <td>21</td>
          <td>22</th>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td class="checked">26</td>
        </tr>
        <tr>
          <td class="checked">27</td>
          <td>28</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <br><br>
      <table class="calen">
        <caption class="brown-text">March (3월)</caption>
        <tr>
          <th class="red-text">Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th class="red-text">Sat</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td class="checked">5</td>
        </tr>
        <tr>
          <td class="missed">6</td>
          <td>7</td>
          <td>8</td>
          <td>9 </td>
          <td>10</td>
          <td>11</td>
          <td class="checked">12</td>
        </tr>
        <tr>
          <td class="checked">13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td class="checked">19</td>
        </tr>
        <tr>
          <td class="checked">20</td>
          <td>21</td>
          <td>22</th>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td class="missed">26</td>
        </tr>
        <tr>
          <td class="missed">27</td>
          <td>28</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <ul>
        <li class="font-20">Green: checked (수업 완료)</li>
        <li class="font-20">Yellow: planned (수업 예정)</li>
        <li class="font-20">Red: missed (수업 스킵)</li>
      </ul>
    </div>
  </div>

  <hr>

  <h2 class="border">English Class: (영어 수업 내용)</h2><br>
  <strong><span class="font-20">Vocab： (단어)</span></strong><br />
  -Topic related Vocabulary<br />
  -Vocab list<br />
  <br />
  <strong><span class="font-20">Grammar： (문법)</span></strong><br />
  -Grammar Textbook<br />
  -Basic 基本的 Grammar Rule 规则<br />
  <br />
  <strong><span class="font-20">Reading： (읽기)</span></strong><br />
  -Reading Paragraph (Translate 翻译)<br />
  -Reading books （translate summarize 概括）<br />
  <br />
  <strong><span class="font-20">Listening： (듣기)</span></strong><br />
  -Watching Youtube Video （Translate）<br />
  <br />
  <strong><span class="font-20">Speaking： (말하기)</span></strong><br />
  -Topic related Conversation<br />
  -Picture Description 描述<br />
  <br />
  <strong><span class="font-20">Writing： (쓰기)</span></strong><br />
  -Vocab Writing<br />
  -Topic Related 有关的 Essay<br />
  </p>

  <hr>

  <h2 class="border">Schedule: (수업내용 기록)</h2>
  <br />
  <p>
    <strong><span class="font-20">Date: 2022/02/12</span></strong><br />
    -Scheduling 计划，安排 （class schedule 课程表）<br />
    -Grammar Review: Sentence (Simple Sentence Rule)<br />
    -Vocab H.W. Check: “Religion 宗教”<br />
    -Description: Restaurant<br />
    -H.W.: Copy the “Vocab: Animal 动物” (in yellow)” 5 times with definition.<br />
    Due: 2022/02/14 Mon. (Completed)<br />
    <br />
    <strong><span class="font-20">Date: 2022/02/13</span></strong><br />
    -Reading Paragraph: Zoo<br />
    -Reading Paragraph: Mall<br />
    -Youtube Explaining fault<br />
    -H.W.: Choose 7 words from “Vocab : Animal 动物” and write a paragraph with them.<br />
    Due: 2022/02/20 Sun. <br />
    <br />
    <strong><span class="font-20">Date: 2022/02/14</span></strong><br />
    -Grammar: Compound Sentence.<br />
    -Vocabulary: 经济<br />
    -H.W.: Grammar Compound Sentence Activity 2<br />
    Due: 2022/02/26 Sat.<br />
    <br>
    <strong><span class="font-20">Date: 2022/02/19</span></strong><br />
    -IE Vocab: 经济 Completed<br />
    -Youtube Video Listening Explaining Fault Dialogue 2.<br />
    -Homework Check<br />
    <br>
    <strong><span class="font-20">Date: 2022/02/20</span></strong><br />
    -Reading Paragraph (Translate)<br />
    -7 words essay (Vocab:动物)<br />
    <br>
    <strong><span class="font-20">Date: 2022/02/26</span></strong><br />
    -Grammar Homework Check<br />
    -Description: Supermarket<br />
    <br>
    <strong><span class="font-20">Date: 2022/02/27</span></strong><br />
    -Grammar: Complex Sentence<br />
    -Youtube: Making Proposal Dialogue 1. <br>
    -HW: Grammar Complex Sentence Activity 3<br>
    Due: 2022/03/05 Sat.<br>
    <br>
    <strong><span class="font-20">Date: 2022/03/05</span></strong><br />
    -Homework Check Completed.<br>
    -Reading Paragraph<br>
    -HW: Grammar Complex Sentence Activity 4<br>
    Due: 2022/03/12 Sat.<br>
    <br>
    <strong><span class="font-20">Date: 2022/03/12</span></strong><br />
    -Homework Check Completed.<br>
    -HW: Copy the “Vocab: Education 教育” (in yellow)” 5 times with definition. <br>
    Due: 2022/03/19 Sat.<br>
    <br>
    <strong><span class="font-20">Date: 2022/03/13</span></strong><br />
    -Youtube: 25 best places to visit in the USA. <br>
    <br>
    <strong><span class="font-20">Date: 2022/03/19</span></strong><br />
    -Youtube: 25 best places to visit in the USA.
    -2 Picture Description. <br>
    -H.W.: Choose 7 words from “Vocab : Education 教育” and write a paragraph with them.<br />
    Due: 2022/03/20 Sun. <br>
    <br>
  </p>
</body>

</html>