<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>AP's website - Skill</title>
  </head>
  <body>
    <header class="header-title">
      aptheparker
      <a
        href="https://aptheparker.notion.site/aptheparker-0f7be966afbb46baabdd7469ee7f4bd2?pvs=4"
        class="title"
        >My Blog</a
      >
    </header>    <nav>
      <ul class="nav-list">
        <li><a href="about.html">About Me</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="dev.html">Dev</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <main class="dev-content-container">
      <div class="dev-info-box">
        <div class="title">Programming</div>
        <ul class="subtitle">
          <li>Web</li>
          <ul>
            <li>(Frontend) HTML/CSS/JS, React.js</li>
            <li>(Backend) Node.js, Flask</li>
          </ul>
          <li>App</li>
          <ul>
            <li>Flutter, Kotlin</li>
          </ul>
          <li>Database</li>
          <ul>
            <li>SQL, MongoDB, Firebase</li>
          </ul>
          <li>Blockchain</li>
          <ul>
            <li>Solidity, Web3.js</li>
          </ul>
          <li>Algorithm</li>
          <ul>
            <li>Python, Java, C</li>
          </ul>
        </ul>
      </div>
      <div class="dev-info-box">
        <div class="title">Dev Project</div>
        <ul class="subtitle">
          <li><a href="https://aptheparker.github.io/myweb">myweb: Personal Website</a></li>
          <li><a href="https://comit.skku.io">comit: CoMit Website</a></li>
          <li>hair-heist: Hair Portfolio App</li>
          <li><a href="https://comity.vercel.app"></a>comity: CoMit Sutdy Group Website (React.js/Node.js)</li>
          <li><a href="https://1px.vercel.app"></a>1px: CoMitXMoD Project (React.js/Node.js)</li>
          <li><a href="https://1px-diary.vercel.app"></a>diary: Sticker Diary (React.js)</li>
        </ul>
      </div>
    </main>
  </body>
</html>
