<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>AP's website</title>
  </head>
  <body>
    <header class="header-title">aptheparker</header>
    <nav>
      <ul class="nav-list">
        <li><a href="about.html">About me</a></li>
        <li><a href="activity.html">Activity</a></li>
        <li><a href="skill.html">Skill</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <main class="skill-content-container">
      <div class="skill-info-box">
        <div class="title">Language</div>
        <ul class="subtitle">
          <li>Korean</li>
          <li>English</li>
          <li>Chinese</li>
        </ul>
      </div>
      <div class="skill-info-box">
        <div class="title">Programming</div>
        <ul class="subtitle">
          <li>HTML/CSS/JS</li>
          <li>Python</li>
          <li>C</li>
          <li>JAVA</li>
          <li>Solidity</li>
          <li>SQL</li>
          <li>Kotlin</li>
          <li>React.js</li>
          <li>Node.js</li>
          <li>Flutter</li>
        </ul>
      </div>
    </main>
  </body>
</html>
