<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>AP's website - Skill</title>
  </head>
  <body>
    <header class="header-title">aptheparker</header>
    <nav>
      <ul class="nav-list">
        <li><a href="about.html">About me</a></li>
        <li><a href="activity.html">Activity</a></li>
        <li><a href="skill.html">Skill</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <main class="skill-content-container">
      <div class="skill-info-box">
        <div class="title">Language</div>
        <ul class="subtitle">
          <li>Korean</li>
          <li>English</li>
          <li>Chinese</li>
        </ul>
      </div>
      <div class="skill-info-box">
        <div class="title">Programming</div>
        <ul class="subtitle">
          <li>Web</li>
          <ul>
            <li>(Frontend) HTML/CSS/JS, React.js</li>
            <li>(Backend) Node.js, Flask</li>
          </ul>
          <li>App</li>
          <ul>
            <li>Flutter, Kotlin</li>
          </ul>
          <li>Database</li>
          <ul>
            <li>SQL, MongoDB, Firebase</li>
          </ul>
          <li>Blockchain</li>
          <ul>
            <li>Solidity, Web3.js</li>
          </ul>
          <li>Algorithm</li>
          <ul>
            <li>Python, Java, C</li>
          </ul>
        </ul>
      </div>
    </main>
  </body>
</html>
