@font-face {
  font-family: 'eagleLake-regular';
  src: url("../fonts/EagleLake-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: eagleLake-regular;
  font-weight: bold;
  width: 100%;
  height: 100vh; /* Set the height to the full viewport height */
  background-image: url("../img/main-background.png"); /* Replace 'your-image.jpg' with the actual image filename */
  background-position: center;
  background-size: cover;
}

/* index.html */

.main-image-container{
  padding: 30px
}

.main-image-container img {
  width: 150px;
  height: 200px;
}

.main-image1 {
  transform: rotate(-45deg);
}

.main-image2 {
  transform: rotate(30deg);
}

.main-image3 {
  transform: rotate(15deg);
}

.main-image4 {
  transform: rotate(-30deg);
}

.main-image5 {
  transform: rotate(30deg);
}

.main-image6 {
  transform: rotate(-15deg);
}


.main-title {
  font-size: 64px;
  margin: 50px;
}

.go-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin: 0 20px;
}

.go-button a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-size: 32px;
  font-weight: bold;
}

/* shared */
.header-title {
  font-size: 64px;
  margin: 0 20px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 20px;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-size: 32px;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 20px;
}

hr {
  width: 80%;
  border: 2px solid black;
}

/* about.html */
.about-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.about-info-box {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.about-info-box img {
  width: 200px;
  height: 220px;
  border-radius: 50px;
  margin: 30px;
}

/* activity.html */
.activity-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.activity-info-box {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* skill.html */
.skill-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.skill-info-box {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* contact.html */
.contact-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.contact-info-box {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .image-container img {
    width: 80px;
    height: 120px;
  }
  .main-title {
    font-size: 32px;
  }
  .main-container {
    font-size: 32px;
  }
  .go-button a {
    font-size: 24px;
  }
  .header-title{
    font-size: 32px;
  }
  .nav-list a {
    font-size: 16px;
  }
  .about-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-info-box {
    width: 350px;
    height: 500px;
  }

  .activity-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .activity-info-box {
    width: 350px;
    height: 500px;
  }

  .skill-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .skill-info-box {
    width: 350px;
    height: 500px;
  }
}
